<div *ngIf="unknownError" class="alert alert-danger">
  Unknown error occurred while login, please try again later!
</div>
<div *ngIf="loginError" class="alert alert-danger">
  Can't login, please check credentials!
</div>
<form role="form" (submit)="login()" ngNativeValidate>
  <div class="form-group">
    <label for="email">Email:</label> <input type="email"
                                                   class="form-control" id="email" name="email" required [(ngModel)]="credentials.email"/>
  </div>
  <div class="form-group">
    <label for="password">Password:</label> <input type="password"
                                                   class="form-control" id="password" name="password" required [(ngModel)]="credentials.password"/>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
