<div class="container">
  <div *ngIf="error" class="alert alert-danger">
    Unknown error occurred while fetching flats, please try again later!
  </div>
  <div *ngIf="noFlats" class="alert alert-info">
    No flats are present. Please add one under <a href="/myflats">MyFlats</a> menu.
  </div>
  <div *ngIf="mainUserError" class="alert alert-danger">
    You are not the Main Mate in your current Flat. You can't create an entry.
  </div>
  <div *ngIf="entryCreated" class="alert alert-success">
    Entry created sucessfully!
  </div>
  <div *ngIf="flatFull" class="alert alert-danger">
    The selected Flat is full, please select another one or remove flatmates.
  </div>
  <div *ngIf="flatFullWithEntries" class="alert alert-danger">
    The selected Flat is full with the created entries, please delete entries before creating new ones!
  </div>
  <div *ngIf="!noFlats" class="form-group">
    <label>Choose a flat:</label><br/>
    <select (change)="update()" [(ngModel)]="selectedFlat">
      <option *ngFor="let flat of flats" [ngValue]="flat"
              [label]="flat.address.streetAddress + ' ' + flat.address.streetNumber"></option>
    </select>
  </div>

  <div *ngIf="selectedFlat && !mainUserError">
    <label>Flat Capacity Left (with entries): {{ selectedFlat.capacity - selectedFlat.flatMates.length -
      sumOfMatesWithEntries }} </label> <br/>
    <label>Current Flatmate count: {{selectedFlat.flatMates.length }}</label> <br/>
  </div>

  <div *ngIf="!flatFullWithEntries && !flatFull && selectedFlat && !mainUserError">
    <form role="form" (submit)="createEntry()" ngNativeValidate>

      <div class="form-group">
        <label for="genderCrit">Gender Criteria:</label>
        <select class="form-control" [(ngModel)]="baseCriteria.genderCriteria" id="genderCrit" name="genderCrit"
                required>
          <option *ngFor="let crit of objectKeys(GENDER_CRITERIAS)" name="genderCrit" [ngValue]="crit"
                  [label]="GENDER_CRITERIAS[crit]"></option>
        </select>
      </div>

      <div class="form-group">
        <label>Lifestyle Criteria:</label> <select class="form-control" [(ngModel)]="baseCriteria.lifestyleCriteria"
                                                   name="lifestyleCrit" required>
        <option *ngFor="let crit of objectKeys(LIFESTYLE_CRITERIAS)" [ngValue]="crit"
                [label]="LIFESTYLE_CRITERIAS[crit]"></option>
      </select>
      </div>

      <div class="form-group">
        <label>Room Type: </label><br/><select class="form-control" [(ngModel)]="baseCriteria.roomTypeCriteria"
                                               name="roomCrit" required>
        <option *ngFor="let crit of objectKeys(ROOMTYPE_CRITERIAS)" [ngValue]="crit"
                [label]="ROOMTYPE_CRITERIAS[crit]"></option>
      </select>
      </div>

      <div class="form-group">
        <label>Room Capacity:</label> <select [(ngModel)]="selectedNumber" class="form-control" name="capacity"
                                              required>
        <option
          *ngFor="let item of [].constructor((selectedFlat.capacity - selectedFlat.flatMates.length) - sumOfMatesWithEntries); let i = index"
          [ngValue]="i+1"
          [label]="i+1"></option>
      </select>
      </div>

      <div class="form-group">
        <label>Age </label>
        <input class="form-control" type="number" [(ngModel)]="baseCriteria.ageCriteria" name="age" required/>
      </div>

      <div class="form-group">
        <label> Age Offset: </label><br/>
        <ng5-slider [(value)]="baseCriteria.ageOffset" [options]="options" name="ageOffset" required></ng5-slider>
      </div>

      <div class="form-group">
        <label>Room Size (m2): </label><br/><input class="form-control" type="number" [(ngModel)]="roomCriteria.size"
                                                   name="size" required/><br/>
      </div>

      <div class="form-group">
        <label>Additional details:</label> <br/>
        <ul>
          <li *ngFor="let detail of additionalDetails">{{ detail }}</li>
        </ul>
        <button type="button" (click)="addDetail()" mat-icon-button formnovalidate>
          <mat-icon aria-label="Add new FlatMate">add</mat-icon>
        </button>
      </div>
      <div class="form-group" *ngIf="addingDetail">
        <form role="form" (submit)="addToList()" ngNativeValidate>
          <div *ngIf="detailAlreadyAdded" class="alert alert-danger">
            This detail is already in the list! Please be more specific!
          </div>
          <label for="newDetail">Detail*:</label>
          <input type="text" class="form-control" id="newDetail" name="newDetail" required [(ngModel)]="newDetail"/>
          <button type="submit" mat-icon-button>
            <mat-icon aria-label="Add">done</mat-icon>
          </button>
          <button (click)="stopAddingDetail()" mat-icon-button>
            <mat-icon aria-label="Cancel">cancel</mat-icon>
          </button>
        </form>
      </div>
      <div class="avatar-upload">
        <div class="avatar-edit">
          <label for="imageUpload" class="custom-file-upload">
            <i class="fa fa-cloud-upload"></i> Upload Image(s)
          </label>
          <input type="file" id="imageUpload" accept=".jpg,.jpeg" (change)="selectFile($event)">
        </div>
        <div class="row text-center text-lg-left">

          <!-- Grid column -->
          <div *ngFor="let image of loadedImages" class="col-lg-3 col-md-4 col-6">
            <img class="img-fluid img-thumbnail" [src]="image"/>
          </div>
        </div>
      </div>
      <br/>
      <button type="submit" mat-raised-button color="primary">Create Entry</button>
    </form>
  </div>
</div>
