<h1>Welcome {{greeting.name}}</h1>
<div [hidden]="authenticated()">
  <p>Please login or register!</p>
</div>

<div *ngIf="error" class="alert alert-danger">
  <p>Error creating Request!</p>
</div>

<div *ngIf="requestCreated" class="alert alert-success">
  <p>Request created successfully!</p>
</div>

<div *ngIf="authenticated()">
  <div *ngIf="!userHasFlat">
    <h4>Entries recommended for you by age</h4>
    <p *ngIf="ageRecommendedEntries.length === 0">Sorry, no recommended entries! :( Please Browse for more! </p>
    <div *ngFor="let entry of ageRecommendedEntries; let i = index" [attr.data-index]="i">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Entry #{{i+1}}
          </mat-panel-title>
          <mat-panel-description>
            Address: {{entry.flat.address.city }} ({{entry.flat.address.district }}),
            {{ entry.flat.address.streetAddress }} {{ entry.flat.address.streetNumber }}
            {{ entry.flat.address.floor + " / " + entry.flat.address.door }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <button *ngIf="entry.flat.userEmail === loggedInUserEmail" type="button" (click)="deleteEntry(entry)" mat-icon-button>
          <mat-icon aria-label="Add new FlatMate">delete</mat-icon>
        </button>
        <p>RoomType: {{ ROOMTYPE_CRITERIAS[entry.roomCriteria.criteria.roomTypeCriteria] }}</p>
        <p>LifeStyle: {{ LIFESTYLE_CRITERIAS[entry.roomCriteria.criteria.lifestyleCriteria] }}</p>
        <p>Gender: {{ GENDER_CRITERIAS[entry.roomCriteria.criteria.genderCriteria] }}</p>
        <p>Age: {{ entry.roomCriteria.criteria.ageCriteria }}</p>
        <p>Age Offset: {{ entry.roomCriteria.criteria.ageOffset }}</p>
        <p>Room Capacity: {{ entry.roomCriteria.capacity }}</p>
        <p>Room Size: {{ entry.roomCriteria.size }}</p>
        <p>Additional Details:</p>
        <ul>
          <li *ngFor="let detail of entry.roomCriteria.additionalDetails">{{ detail }}</li>
        </ul>
        <button mat-raised-button color="accent" (click)="requestContact(entry)">Request Contact</button>
      </mat-expansion-panel>
    </div>
  </div>
  <div *ngIf="!userHasFlat">
    <h4>Entries recommended for you by lifestyle</h4>
    <p *ngIf="lifeStyleRecommendedEntries.length === 0">Sorry, no recommended entries! :( Please Browse for more! </p>
    <div *ngFor="let entry of lifeStyleRecommendedEntries; let i = index" [attr.data-index]="i">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Entry #{{i+1}}
          </mat-panel-title>
          <mat-panel-description>
            Address: {{ entry.flat.address.streetAddress }} {{ entry.flat.address.streetNumber }}
            {{ entry.flat.address.floor + " / " + entry.flat.address.door }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <button *ngIf="entry.flat.userEmail === loggedInUserEmail" type="button" (click)="deleteEntry(entry)" mat-icon-button>
          <mat-icon aria-label="Add new FlatMate">delete</mat-icon>
        </button>
        <p>RoomType: {{ ROOMTYPE_CRITERIAS[entry.roomCriteria.criteria.roomTypeCriteria] }}</p>
        <p>LifeStyle: {{ LIFESTYLE_CRITERIAS[entry.roomCriteria.criteria.lifestyleCriteria] }}</p>
        <p>Gender: {{ GENDER_CRITERIAS[entry.roomCriteria.criteria.genderCriteria] }}</p>
        <p>Age: {{ entry.roomCriteria.criteria.ageCriteria }}</p>
        <p>Age Offset: {{ entry.roomCriteria.criteria.ageOffset }}</p>
        <p>Room Capacity: {{ entry.roomCriteria.capacity }}</p>
        <p>Room Size: {{ entry.roomCriteria.size }}</p>
        <p>Additional Details:</p>
        <ul>
          <li *ngFor="let detail of entry.roomCriteria.additionalDetails">{{ detail }}</li>
        </ul>
      </mat-expansion-panel>
    </div>
  </div>
  <div *ngIf="!userHasFlat && ultimateEntries.length !== 0">
    <h4>ULTIMATE entries for you:</h4>
    <div *ngFor="let entry of ultimateEntries; let i = index" [attr.data-index]="i">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Entry #{{i+1}}
          </mat-panel-title>
          <mat-panel-description>
            Address: {{ entry.flat.address.streetAddress }} {{ entry.flat.address.streetNumber }}
            {{ entry.flat.address.floor + " / " + entry.flat.address.door }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <button *ngIf="entry.flat.userEmail === loggedInUserEmail" type="button" (click)="deleteEntry(entry)" mat-icon-button>
          <mat-icon aria-label="Add new FlatMate">delete</mat-icon>
        </button>
        <p>RoomType: {{ ROOMTYPE_CRITERIAS[entry.roomCriteria.criteria.roomTypeCriteria] }}</p>
        <p>LifeStyle: {{ LIFESTYLE_CRITERIAS[entry.roomCriteria.criteria.lifestyleCriteria] }}</p>
        <p>Gender: {{ GENDER_CRITERIAS[entry.roomCriteria.criteria.genderCriteria] }}</p>
        <p>Age: {{ entry.roomCriteria.criteria.ageCriteria }}</p>
        <p>Age Offset: {{ entry.roomCriteria.criteria.ageOffset }}</p>
        <p>Room Capacity: {{ entry.roomCriteria.capacity }}</p>
        <p>Room Size: {{ entry.roomCriteria.size }}</p>
        <p>Additional Details:</p>
        <ul>
          <li *ngFor="let detail of entry.roomCriteria.additionalDetails">{{ detail }}</li>
        </ul>
        <button mat-raised-button color="accent" (click)="requestContact(entry)">Request Contact</button>
      </mat-expansion-panel>
    </div>
  </div>
</div>

