<div *ngIf="error" class="alert alert-danger">
  Unknown error occurred while fetching flats, please try again later!
</div>
<div *ngIf="noFlats" class="alert alert-info">
  No flats are present. Would you like to add one?
</div>
<div *ngIf="cantDeleteLastFlatMate" class="alert alert-danger">
  You can't delete the last mate from the flat!
</div>

<div *ngIf="cantDeleteMainMate" class="alert alert-danger">
  You can't delete the main mate from the flat!
</div>

<div *ngIf="notMainUserError" class="alert alert-danger">
  Only main mate can pass "Main Mate" privilege! :(
</div>

<div *ngIf="iShareError" class="alert alert-danger">
  You used iShare so you can't add yourself to the flat!
</div>

<div *ngIf="mainMateSuccess" class="alert alert-success">
  Main Mate change succeeded!
</div>

<div [hidden]="!noFlats">
  <div class="centered">
  <div class="plus" id="plus">
    <div class="plus__line plus__line--v">
      <a (click)="addiLiveFlat()" class="plus__link">iLive</a>
      <a (click)="addiShareFlat()" class="plus__link">iShare</a>
      <!-- <a (click)="addExisting()" class="plus__link">itExists</a> -->
    </div>
    <div class="plus__line plus__line--h"></div>
  </div>
  </div>
</div>

<div *ngIf="!noFlats && flat">
  <div *ngIf="addMateError" class="alert alert-danger">
    Error adding new FlatMate (Maybe wrong email or duplicate?) !
  </div>
  <div *ngIf="deleteMateError" class="alert alert-danger">
    Error deleting FlatMate!
  </div>
  <h2>Your Flat: </h2>
  <div class="panel-body">
    <h4>Main Mate Email: {{ flat.userEmail }}</h4><br/>
    <label>City: {{ flat.address.city }} </label> <br/>
    <label>Street Address: {{ flat.address.streetAddress }} </label> <br/>
    <label>Street Number: {{ flat.address.streetNumber }} </label> <br/>
    <label>District: {{ flat.address.district }} </label> <br/>
    <label>Floor: {{ flat.address.floor }} </label> <br/>
    <label>Door: {{ flat.address.door }} </label> <br/>

    <div *ngFor="let user of flat.flatMates; let i = index" [attr.data-index]="i">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Flatmate #{{i+1}}
            <label (click)="deleteMate(user.email)">🗑</label>
            <label *ngIf="user.email === flat.userEmail">♛</label>
          </mat-panel-title>
          <mat-panel-description>
            <label *ngIf="user.email !== flat.userEmail"><a (click)="makeMainMate(user)">Make as Main Mate</a></label>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p><b>E-mail:</b> {{ user.email}} </p>
        <p><b>First Name:</b> {{ user.firstName}} </p>
        <p><b>Last Name:</b> {{ user.lastName}} </p>
        <p><b>Age:</b> {{ user.age}} </p>
        <p><b>LifeStyle:</b> {{ app.CONST_TENANT_TYPES[user.tenantType]}} </p>
        <p><b>LifeStyle Comments:</b> {{ user.tenantTypeComment}} </p>
        <p><b>Stay At Home:</b> {{ app.CONST_TENANT_STAY_TYPES[user.tenantStayType]}} </p>
        <p><b>Stay At Home Comments:</b> {{ user.tenantStayTypeComment}} </p>
      </mat-expansion-panel>
    </div>
    <button *ngIf="flat.flatMates.length < flat.capacity" (click)="addNewMate()" mat-icon-button>
      <mat-icon aria-label="Add new FlatMate">person_add</mat-icon>
    </button>
      <div class="form-group" *ngIf="addingNewMate">
        <form role="form" (submit)="addMate()" ngNativeValidate>
        <label for="newFlatMateEmail">Email*:</label> <input type="email"
                                                          class="form-control" id="newFlatMateEmail" name="newFlatMateEmail" required
                                                          [(ngModel)]="newFlatMateEmail"/>
          <button type="submit" mat-icon-button>
            <mat-icon aria-label="Add">done</mat-icon>
          </button>
          <button (click)="stopAddingNewFlatmate()" mat-icon-button>
            <mat-icon aria-label="Cancel">cancel</mat-icon>
          </button>
        </form>
      </div>
    <div *ngIf="requestSent" class="alert alert-success">
      Request created! You can check the request status under Notifications tab!
    </div>
    <div *ngIf="requestAlreadyExists" class="alert alert-danger">
      Couldn't create request because there is already one with the same parameters!
    </div>
  </div>
  <button mat-raised-button (click)="deleteFlat()" color="warn">Delete Flat</button>
</div>
