<div *ngIf="error" class="alert alert-danger">
  Unknown error occurred while fetching flats, please try again later!
</div>
<div *ngIf="noFlats" class="alert alert-danger">
  No flats are present. Would you like to add one?
</div>
<div [hidden]="!noFlats">
  <div class="centered">
  <div class="plus" id="plus">
    <div class="plus__line plus__line--v">
      <a (click)="addiLiveFlat()" class="plus__link">iLive</a>
      <a (click)="addiShareFlat()" class="plus__link">iShare</a>
      <a (click)="addExisting()" class="plus__link">itExists</a>
    </div>
    <div class="plus__line plus__line--h"></div>
  </div>
  </div>
</div>

<div *ngIf="!noFlats && flat">
  <div *ngIf="addMateError" class="alert alert-danger">
    Error adding new FlatMate (Maybe wrong email or duplicate?) !
  </div>
  <div *ngIf="deleteMateError" class="alert alert-danger">
    Error deleting FlatMate!
  </div>
  <h2>Your Flat: </h2>
  <div class="panel-body">
    <label>City: {{ flat.address.city }} </label> <br/>
    <label>Street Address: {{ flat.address.streetAddress }} </label> <br/>
    <label>Street Number: {{ flat.address.streetNumber }} </label> <br/>
    <label>District: {{ flat.address.district }} </label> <br/>
    <label>Floor: {{ flat.address.floor }} </label> <br/>
    <label>Door: {{ flat.address.door }} </label> <br/>

    <div *ngFor="let user of flat.flatMates; let i = index" [attr.data-index]="i">
      <h3>Flatmate #{{i+1}}<label (click)="deleteMate(user.email)">🗑</label></h3>
      <label>First Name: {{ user.firstName}} </label> <br/>
      <label>Last Name: {{ user.lastName}} </label> <br/>
      <label>Age: {{ user.age}} </label> <br/>
      <label>LifeStyle: {{ app.CONST_TENANT_TYPES[user.tenantType]}} </label> <br/>
      <label>LifeStyle Comments: {{ user.tenantTypeComment}} </label> <br/>
      <label>Stay At Home: {{ app.CONST_TENANT_STAY_TYPES[user.tenantStayType]}} </label> <br/>
      <label>Stay At Home Comments: {{ user.tenantStayTypeComment}} </label> <br/>
    </div>
    <button *ngIf="flat.flatMates.length < flat.capacity" (click)="addNewMate()">Add new FlatMate</button>
      <div class="form-group" *ngIf="addingNewMate">
        <label for="newFlatMateEmail">Email*:</label> <input type="email"
                                                          class="form-control" id="newFlatMateEmail" name="newFlatMateEmail" required
                                                          [(ngModel)]="newFlatMateEmail"/>
        <button type="submit" (click)="addMate()" class="btn btn-primary">Submit</button>
        <button (click)="stopAddingNewFlatmate()" class="btn btn-primary">Cancel</button>
      </div>
  </div>
  <button (click)="deleteFlat()">Delete Flat</button>
</div>
